{
  extends: [
    'standard',
    'plugin:react/recommended',
  ],
  plugins: [
    'react',
  ],
  rules: {
    'comma-dangle': ['error', 'always-multiline'],
    'react/react-in-jsx-scope': 'off',
    // TODO fix required in fastify-vite-react/context.js
    'react/prop-types': 'off',
  },
  parserOptions: {
    ecmaFeatures: {
      jsx: true,
    }
  },
  settings: {
    react: {
      version: '17.0',
    },
  },
}
