.claude/
.DS_Store
.idea
.nyc_output
build
dist
node_modules
*.tsbuildinfo

# This project uses pnpm, so we do not want other lock files
bun.lockb
package-lock.json
yarn.lock

# Vite logs files
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# vitepress cache directory
**/.vitepress/cache

CLAUDE.md
