{
  extends: [
    'plugin:solid/recommended',
    'standard',
  ],
  plugins: [
    'solid',
  ],
  rules: {
    'comma-dangle': ['error', 'always-multiline'],
    'import/no-absolute-path': 'off',
    'solid/reactivity': 'off',
    'solid/no-destructure': 'off'
  },
}
