name: CI

on:
  push:
    branches:
      - main
      - dev
  pull_request:

permissions:
  contents: read

jobs:
  test:
    runs-on: ${{ matrix.runs-on }}

    permissions:
      contents: read

    strategy:
      matrix:
        node-version: [22.x, 24.x, 25.x]
        runs-on: ['ubuntu-latest']

    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          persist-credentials: false

      - name: Install pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          cache: "pnpm"
          check-latest: true
          node-version: ${{ matrix.node-version }}

      - name: Install dependencies
        run: pnpm install --ignore-scripts

      - name: Run tests
        shell: 'script --return --quiet --command "bash {0}"'
        run: pnpm test
